@model HomeViewModel


<h2>@Model.Title</h2>


@foreach (var pie in Model.Pies)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h4 class="pull-right">@pie.Price.ToString("c")</h4>
                <h4>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@pie.Id">@pie.Name</a>
                </h4>
                <p>@pie.ShortDescription</p>
            </div>
        </div>
    </div>
}